<div class="modal show" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" ng-bind="title"></h4>
         </div>

         <div class="modal-body">

            <ul class="nav nav-tabs">
               <li class="active"><a href="#data" data-toggle="tab" ng-bind="dictionary['label.data']"></a></li>
               <li><a href="#mailboxses" data-toggle="tab" ng-bind="dictionary['label.mailboxes']"></a></li>
               <li><a href="#action" data-toggle="tab" ng-bind="dictionary['label.action']"></a></li>
               <li><a href="#labels" data-toggle="tab" ng-bind="dictionary['label.labels']"></a></li>
            </ul>

            <div class="tab-content" style="padding-top: 10px">

               <form id="data" name="filterForm" role="form" class="tab-pane fade in active" novalidate>

                  <div class="row">

                     <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error': filterForm.name.$touched && filterForm.name.$error.required}">
                           <label for="name" class="control-label"  ng-bind="dictionary['label.filterName']"></label>
                           <input type="text" id="name" name="name" ng-model="filter.name" class="form-control" ng-required="true"/>
                           <div ng-show="filterForm.name.$touched && filterForm.name.$error.required" class="help-block" ng-bind="dictionary['label.field.reqiured']"></div>
                        </div>
                     </div>

                     <div class="col-md-2">
                        <div class="form-group" ng-class="{'has-error': filterForm.priority.$error.required || filterForm.priority.$error.max || filterForm.priority.$error.pattern}">
                           <label for="priority" class="control-label" ng-bind="dictionary['label.priority']"></label>
                           <input type="number" id="priority" name="priority" min="0" max="{{getMaxPriority()}}" 
                                  ng-model="filter.priority" class="form-control" ng-required="true"  ng-pattern="/^([0-9]|[1-9][0-9]+)$/" />
                           <div ng-show="filterForm.priority.$error.required" class="help-block" ng-bind="dictionary['label.field.reqiured']"></div>
                           <div ng-show="filterForm.priority.$error.pattern" class="help-block" ng-bind="dictionary['label.field.not.valid']"></div>
                           <div ng-show="filterForm.priority.$error.max" class="help-block">
                              {{dictionary['error.field.priority.max']}} {{getMaxPriority()}}
                           </div>
                        </div>
                     </div>

                     <div class="col-md-2">
                        <div class="form-group">
                           <div class="checkbox" style="padding-top: 18px">
                              <label>
                                 <input type="checkbox" ng-model="filter.status" ng-true-value="1" ng-false-value="0"> 
                                 {{dictionary['label.active']}}
                              </label>
                           </div>
                        </div>
                     </div>
                      
                     <div class="col-md-3">
                        <div class="form-group">
                           <div class="checkbox" style="padding-top: 18px">
                              <label>
                                 <input type="checkbox" ng-model="filter.reqManVer" ng-true-value="1" ng-false-value="0"> 
                                 {{dictionary['label.reqManVer']}}
                              </label>
                           </div>
                        </div>
                     </div>

                  </div>

                  <div class="row">
                     <div class="col-md-12" style="padding-top: 20px">
                        <condition ng-init="init()"></condition>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-12" style="padding-top: 30px">
                        <div class="panel panel-default">
                           <div class="panel-body container-fluid" style="height: 300px; overflow-y: scroll;">

                              <rule ng-repeat="r in filter.rules"
                                    rdata="r" 
                                    idx="$index"
                                    can-delete="filter.rules.length > 1"></rule>

                           </div>
                        </div>
                     </div>
                  </div>

                 <pre style="height: 400px;overflow-y: scroll;">{{filterForm | json}}</pre>
                 
               </form>

               <div id="mailboxses" class="tab-pane fade"></div>

               <div id="action" class="tab-pane fade"></div>

               <div id="labels" class="tab-pane fade"></div>

            </div>

         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" ng-disabled="filterForm.$invalid" class="btn btn-primary">Salva</button>
         </div>

      </div>
   </div>
</div>