<div class="row" ng-init="init()">

   <div class="col-md-3">
      <div class="form-group">
         <select class="form-control" ng-model="rdata.subject" id="subject-{{idx}}" name="subject-{{idx}}"
                 ng-change="ruleChange()" ng-disabled="rdata.disabled" ng-required="rule_cmp_req">
            <option ng-repeat="s in getSubjects()" ng-value="s">
               {{getSubjectName(s)}}
            </option>
         </select>
      </div>
   </div>

   <div class="col-md-3">
      <div class="form-group">
         <select class="form-control" ng-model="rdata.operator" id="operator-{{idx}}" name="operator-{{idx}}" 
                 ng-disabled="rdata.disabled" ng-required="rule_cmp_req">
            <option ng-repeat="o in getOperators()" ng-value="o">
               {{getOperatorName(o)}}
            </option>
         </select>
      </div>
   </div>

   <div class="col-md-3">

      <div class="form-group" ng-if="isCombobox()">
         <select class="form-control" ng-model="rdata.value"
                 id="value-{{idx}}" name="value-{{idx}}" ng-disabled="rdata.disabled" ng-required="rule_cmp_req">
            <option ng-repeat="v in getValues()" ng-value="v">
               {{getValueName(v)}}
            </option>
         </select>
      </div>

      <div class="form-group" ng-if="!isCombobox()">
         <input type="text" ng-model="rdata.value" class="form-control" id="value-{{idx}}" name="value-{{idx}}" ng-disabled="rdata.disabled"/>
      </div>

   </div>

   <div class="col-md-1">
      <div class="form-group" ng-class="{'has-error': filterForm['weight-{{idx}}'].$touched && filterForm['weight-{{idx}}'].$error.pattern}">
         <input type="text" ng-model="rdata.weight" class="form-control" 
                id="weight-{{idx}}"
                name="weight-{{idx}}"                         
                ng-pattern="/^([0-9]|[1-9][0-9]+)$/"
                ng-disabled="rdata.disabled || rdata.disabledWeight"/>
      </div>
   </div>

   <div class="col-md-2">
      <div class="btn-group">
         <button type="button" class="btn btn-default btn-sm" ng-click="add()" ng-disabled="rdata.disabled">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
         </button>
         <button type="button" class="btn btn-default btn-sm" ng-click="del()" ng-disabled="!canDelete || rdata.disabled">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
         </button>
      </div>
   </div>

</div>
